@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'irans';
  src: url('fonts/irans.ttf');
}
@font-face {
  font-family: 'iransbold';
  src: url('fonts/iransbold.ttf');
}

body {

  font: "irans";
  direction: rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


